<h1>Toutes les batailles(<%= @battles.size %>)</h1>
<%= link_to 'Ajouter une nouvelle bataille', new_battle_path %>
<hr>
<ul>
  <% @battles.each do |battle| %>
  <li>
    Date: <%= battle.date %>
    <ol>
    <% battle.competitions.each do |competition| %>
      <p>
        <li>
          <%= competition.pastry.name %>: <%= competition.employee.nil? ? '-' : competition.employee.name %>
        </li>
      </p>
    <% end %>
    </ol>
    <p>
      <%= link_to 'Ajouter les cuistos', edit_battle_path(battle) %>
    </p>
  </li>
  <hr>
  <% end %>
</ul>
